{:deps {selmer/selmer {:mvn/version "1.12.59"}},
 :aliases {:build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3",
                                                            :git/sha "7ac1f8d"},
                          org.clojure/tools.deps.alpha {:mvn/version "0.15.1244"}},
                   :ns-default build},
           :opts {:transitive true,
                  :lib com.beakstar/babashka,
                  :version "0.1.3"}}}
